body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table-wrapper {
    height: 400px;
    overflow: auto;
}

table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid #ccc;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }  

  #header {
      padding: 10px 0;
  }

  ul li.message {
      list-style-image: url('images/check-green.png')
  }

  ul li.warning {
      list-style-image: url('images/warning.png')
  }

  #query-file-wrapper {
      margin-top: 10px;
  }

  #data-file-wrapper {
      width: 200px;
      margin-top: 10px;
  }

  #data-file-content, #query-file-content {
      -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 500px;
  }

#data-file-content {
    height: 300px;
}

#query-file-content {
    height: 30px;
}

  #main-wrapper {
      width: 45%;
      float: left;
  }

  #file-content {
      width: 45%;
      float: right;
  }

  #footer{
      padding-top: 50px;
      clear: both;
  }